.grafico-container {
  width: 100%;
  max-width: 900px;
  height: 350px;
  margin-top: 200px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

@media (max-width: 768px) {
  .grafico-container {
    max-width: 100%;
    height: auto;
  }

  .grafico-container canvas {
    max-width: 100%;
    height: auto !important;
  }
}
